.form {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 0 auto;
  gap: 10px;
}
.button {
  width: 80px;
  height: 30px;
  margin: 0 auto;
  border-radius: 5px;
  background-color: rgb(201, 112, 112);
}
input {
  height: 35px;
  border-radius: 7px;
  padding: 5px;
  border: 1px solid black;
}
